.dolly-container {
    margin-top: 110px;
    margin-left: 100px;
  }
  
  .dolly-table {
    margin-bottom: 30px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
    width: 25%; /* กำหนดความกว้างของแต่ละคอลัมน์ */
  }
  
  td {
    width: 25%; /* กำหนดความกว้างของแต่ละคอลัมน์ */
  }
  
  tbody tr:hover {
    background-color: #f9f9f9;
  }
  
  .btntro {
    font-size: 18px;
    width: 80px;
    height: 50px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    border-radius: 20px;
  }
  
  .btneed{
    padding: 5px 10px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }